body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

section {
  margin-bottom: 46px;
}
h1 {
  font-size: 60px;
  font-weight: 600;
}
h1,
h2,
h3 {
  color: #575757;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 18px;
  color: #828282;
  margin-bottom: 50px;
  line-height: 30px;
  font-weight: 500;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.d-flex {
  display: flex;
}
.center {
  margin: 0 auto;
}
.btn {
  padding: 14px 18px;
  border-radius: 30px;
  background-image: linear-gradient(88.33deg, #fba24f -7%, #ff1e1e 145%);
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0 9px 0 tomato;
}
.text-orange {
  color: #fc8f49;
}
.text-center {
  text-align: center;
}
.menu-bar-container {
  background-color: #0b0d17;
  padding: 25px 10px;
  margin-bottom: 0;
}
.menu-bar-container > .menuItem {
  font-size: 18px;
  font-weight: 600;
  color: #fc8f49;
  padding: 10px 20px;
}
.brand {
  margin-right: 50px;
}
.brand > span {
  color: #ff6f41;
}
#hero {
  padding: 10px 40px;
}
.left-width {
  width: 40%;
  margin-right: 5%;
}
.left-width > a {
  font-size: 14px;
}
.right-width {
  width: 50%;
  margin-left: 5%;
}

#about {
  background-image: url(images/about-bg.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 60px;
  background-position: center;
}
#about > .left-width {
  width: 50%;
}
#about > .right-width {
  margin: 0;
}
#about > .left-width > img {
  width: 51.7%;
  display: block;
}
#about .about-description {
  padding: 55px 10px;
  margin-bottom: 25px;
}
.about-description > p {
  margin-bottom: 0;
}

.recipe-header-content {
  width: 800px;
}
.recipe-container {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.single-recipe {
  width: 40%;
  margin-right: 2%;
  margin-left: 2%;
  box-shadow: 0 0 40px 0 #00000026;
  padding: 20px;
  border-radius: 30px;
}

#contact {
  background-image: url(images/contactBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 30px;
  margin-bottom: 0;
}
#contact h3 {
  margin-bottom: 40px;
}
.form-container {
  width: 40%;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.input-container label,
input {
  margin-bottom: 10px;
}
.input-container input,
select,
textarea {
  padding: 13px 7px;
  resize: none;
  font-size: 16px;
  border: 2px solid orange;
  border-radius: 10px;
  outline: none;
}
.form-btn {
  display: block;
  border: none;
  margin: 30px auto;
}

footer {
  background-color: #0b0d17;
  margin: 0;
  padding: 15px 0 60px 0;
}

footer p {
  margin-bottom: 0;
  color: #fff;
  font-size: 17px;
}
